body {
  font: 40px, Arial, sans-serif;
}

.navbar {
  background-color: #f052cd;
}

.quem-somos {
  background-color: #d4bafd;
}

.margin{
  padding-top: 50px;
  padding-bottom: 50px;
}

.parceiros{
  background-color: #3299ee;
}

.bg-footer{
  background-color: black;
  color: white
}